/* GLOBAL STYLE*/
html {
  font-size: 12px;
}
body {
  background-color: #ECECEC;
}
/* scroll style */
body::-webkit-scrollbar {
  display: none;
}
*::-webkit-scrollbar {
  display: none;
}
span {
  cursor: default;
}
a {
  text-decoration: none;
}
a * {
  cursor: pointer;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
.outLink {
  color: #585c5e;
}
.outLink:hover {
  color: #ebf4fd;
}
input,
textarea {
  border-radius: 4px;
  border: 1px solid #ddd;
  outline: none;
  padding-left: 6px !important;
}
textarea {
  padding: 4px;
  resize: none;
}
input:focus {
  border-color: #108EE9;
}
input.longInput {
  width: 230px !important;
}
select {
  height: 28px;
  background-color: white;
}
/* for button style control */
button {
  outline: none;
  font-weight: 400 !important;
  height: 30px !important;
}
button * {
  cursor: pointer;
}
.grayBackColor {
  background-color: #bbb;
  border-color: #bbb;
  color: #fff;
}
button.grayBackColor:hover {
  background-color: #ddd;
  border-color: #ddd;
}
button.grayBackColor:active {
  background-color: #ddd;
  border-color: #ddd;
}
button.grayBackColor:linked {
  background-color: #ddd;
  border-color: #ddd;
}
.round {
  border-radius: 4px;
  cursor: pointer;
}
.hollow {
  background: none;
  outline: none;
  color: #bbb;
  border: 1px solid  #bbb;
}
.active {
  color: #108EE9;
  border-color: #108EE9;
}
.backBtn {
  color: #444;
}
.backBtn:hover {
  background: none;
  color: #444;
  border-color: #ccc;
}
.btnRight {
  text-align: right;
  margin-top: 10px;
}
/* for font color control */
.red {
  color: #ff5555;
}
.yellowfc {
  color: #FFBF00;
}
.greenfc {
  color: #00A854;
}
.warning {
  color: #FFBF00;
}
.success {
  color: #00A854;
}
.shalowRed {
  color: #ff5555;
}
.gray {
  color: #f5f5f5;
}
.blueBgcolor {
  background-color: steelblue;
}
.hide {
  display: none !important;
}
/* for time picker in gift/act and notify */
.timePicker {
  width: 140px !important;
  vertical-align: middle;
  padding-top: 12px;
}
.timePicker input {
  width: 150px;
}
/* for placeholder */
::-webkit-input-placeholder {
  color: #ddd;
  text-transform: uppercase;
}
:-moz-placeholder {
  color: #ddd;
  text-transform: uppercase;
}
::-moz-placeholder {
  color: #ddd;
  text-transform: uppercase;
}
:-ms-input-placeholder {
  color: #ddd;
  text-transform: uppercase;
}
/* for carousel */
.carouselModal {
  height: 0px;
}
.carouselContainer {
  color: red;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
}
.carouselItem {
  width: 90%;
  margin-left: 50%;
  transform: translate(-50%, 0);
  overflow: hidden;
}
.carouselItem img {
  width: 100%;
}
.carouselItem .slick-dots button {
  background-color: #ebf4fd !important;
}
.ant-carousel .slick-slide {
  min-height: 100px;
}
.mg10 {
  margin-right: 10px;
}
.activeMenu {
  color: #fff;
}
.checkInvalid {
  margin-left: 5px;
  text-align: center;
  color: red !important;
}
/* priority control */
.schName {
  margin: 10px 30px;
}
.setRepairman {
  margin: 10px 30px 0 30px;
}
.setRepairman > div.options {
  padding: 0;
  display: flex;
  justify-content: flex-end;
}
.priorityGroup,
.customNote {
  display: inline-flex;
  align-items: flex-end;
  margin-bottom: 10px;
  text-align: right;
  height: auto;
}
.priorityGroup *,
.customNote * {
  margin-right: 10px;
}
.customNote {
  text-align: right;
}
.customNote textarea {
  margin-right: 0;
  width: 180px;
  height: 70px;
}
.priority {
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 3px;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 5px;
}
.modalTitle {
  margin-left: 30px;
}
.chosen {
  background-color: #108EE9;
}
/* seems no use now, maybe used in older version task module */
.level {
  display: inline-block;
  border-radius: 5px;
  border: 1px solid;
  font-size: 0.8em;
  padding: 2px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.URGENT {
  background-color: #ff5555;
  color: #fff;
}
.PRIORITY {
  background-color: green;
  color: #fff;
}
.clearfix {
  clear: both;
}
.center {
  text-align: center;
}
/* for choose gift popup. both used in deposit-activity and other */
.giftStatus {
  margin: 30px 10px 20px 40px;
}
.giftStatus p {
  display: inline-block;
  margin-right: 10px;
}
.giftStatus p span {
  color: #ff5555;
  font-size: 18px;
  width: 20px;
  margin: 10px;
}
/* for form style */
.formContent {
  width: 100%;
}
.formContent ul li {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
}
.formLabel {
  display: inline-block;
  width: 40%;
  text-align: right;
}
.formLabel label {
  font-size: 14px;
}
.formValue {
  display: inline-block;
  width: 60%;
}
.formValue input {
  height: 30px;
  width: 200px;
}
.formValue textarea {
  width: 200px;
  height: 100px;
  border-color: #ddd;
}
.formBtns {
  margin-top: 30px;
  text-align: center;
}
.formBtns button {
  margin-right: 20px;
}
.popoverContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 999;
  padding: 100px;
  background-color: rgba(9, 9, 9, 0.2);
  border: 1px solid blue;
}
.thumbnail {
  max-width: 100px;
  max-height: 100px;
  margin-right: 10px;
}
.addPlusabs {
  display: block;
  display: inline-flex;
  flex: none;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 45px;
}
.addPlusabs button {
  width: 30px;
  position: relative;
}
.addPlusabs button img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
}
.addPlusabs button:first-child {
  margin-right: 12px;
}
/* -----info area----- */
.infoBlockList {
  margin: 16px;
}
.infoBlockList .btnArea {
  display: inline-flex;
  flex: none;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: #ebf4fd;
}
.infoBlockList .btnArea > button {
  margin-right: 10px;
}
.infoBlockList .btnArea > button:last-child {
  margin-right: 0;
}
.infoBlock {
  display: flex;
  flex: none;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  margin-bottom: 16px;
  box-sizing: border-box;
}
.infoBlock > h3 {
  position: absolute;
  width: 140px;
  height: 100%;
  padding: 30px;
  font-size: 14px;
  font-weight: normal;
  line-height: 45px;
  text-align: center;
  color: #222;
  background-color: #f5f5f5;
}
.infoBlock > ul {
  flex-grow: 1;
  margin-left: 141px;
  padding: 30px;
  background-color: #f5f5f5;
  font-size: 14px;
}
.infoBlock > ul > li {
  line-height: 45px;
  height: 45px;
  color: #222;
  display: flex;
  flex: none;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.infoBlock > ul > li > p {
  width: 130px;
  text-align: right;
  color: #222;
  padding-right: 20px;
}
.infoBlock > ul > li button,
.infoBlock > ul > li span {
  margin-right: 5px;
}
.infoBlock > ul .imgWrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  min-height: 45px;
  margin-bottom: 5px;
  padding-left: 130px;
  box-sizing: border-box;
}
.infoBlock > ul .imgWrapper p {
  position: absolute;
  left: 0;
  height: 100%;
  width: 130px;
  text-align: right;
}
.infoBlock > ul .imgWrapper img {
  max-width: 80px;
  margin-right: 5px;
}
.infoBlock > ul .imgWrapper img:nth-child(4) {
  margin-top: 5px;
}
.infoBlock > ul .imgWrapper > span.checkInvalid {
  width: auto;
}
.infoBlock > ul .itemsWrapper {
  margin: 0;
  display: flex;
  flex: none;
  flex-wrap: wrap;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.infoBlock > ul .itemsWrapper p {
  width: 130px;
  text-align: right;
}
.infoBlock > ul .itemsWrapper > div {
  display: flex;
  flex-direction: column;
}
.infoBlock > ul .itemsWrapper > div.paragraph {
  padding-top: 10px;
  width: 40%;
  display: block;
  line-height: 22px;
}
.info > h3 {
  width: 140px;
  text-align: right;
  padding: 30px;
  margin-right: 10px;
  color: #222;
}
.info > ul {
  padding: 30px;
  background-color: #f5f5f5;
  font-size: 14px;
}
.info > ul > li {
  line-height: 45px;
  height: 45px;
  color: #222;
  display: inline-flex;
  flex: none;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.info > ul > li > p {
  width: 130px;
  text-align: right;
  color: #222;
  padding-right: 20px;
}
.info > ul > li button,
.info > ul > li span {
  margin-right: 5px;
}
.info > ul > li select {
  outline: none;
  height: 28px;
  background-color: #fff;
  border-color: #ddd;
  border-radius: 5px;
}
.info > ul .imgWrapper {
  display: flex;
  flex: none;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
  box-sizing: border-box;
}
.info > ul .imgWrapper p {
  width: 130px;
  text-align: right;
}
.info > ul .imgWrapper img {
  max-width: 80px;
}
.info > ul .imgWrapper > span.checkInvalid {
  width: auto;
}
.info > ul .itemsWrapper {
  display: flex;
  flex: none;
  flex-wrap: nowrap;
  align-items: flex-start;
  box-sizing: border-box;
  height: 100%;
}
.info > ul .itemsWrapper p {
  width: 130px;
  text-align: right;
}
.info > ul .itemsWrapper > div {
  display: flex;
  width: calc(100% - 130px);
  flex-wrap: wrap;
  flex-direction: column;
}
.info > ul .itemsWrapper > div.paragraph {
  padding-top: 10px;
  width: 40%;
  display: block;
  line-height: 22px;
}
.info .btnArea {
  display: inline-flex;
  flex: none;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 16px;
  padding: 20px;
  background-color: #ebf4fd;
}
.info .btnArea > button {
  margin-right: 10px;
}
.info .btnArea > button:last-child {
  margin-right: 0;
}
.info input {
  width: 140px;
  height: 30px;
  margin-right: 5px;
}
.info input.shortInput {
  width: 45px;
  text-align: center;
  padding-left: 0 !important;
}
.info .select {
  width: 140px;
}
.infoList {
  position: relative;
  margin: 16px;
  margin-bottom: 20px;
  padding: 0px !important;
}
.infoList > h3 {
  width: 140px;
  text-align: right;
  padding: 30px;
  margin-right: 10px;
  color: #222;
}
.infoList > ul {
  padding: 30px;
  background-color: #f5f5f5;
  font-size: 14px;
}
.infoList > ul > li {
  line-height: 45px;
  height: 45px;
  color: #222;
  display: inline-flex;
  flex: none;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.infoList > ul > li > p {
  width: 130px;
  text-align: right;
  color: #222;
  padding-right: 20px;
}
.infoList > ul > li button,
.infoList > ul > li span {
  margin-right: 5px;
}
.infoList > ul > li select {
  outline: none;
  height: 28px;
  background-color: #fff;
  border-color: #ddd;
  border-radius: 5px;
}
.infoList > ul .imgWrapper {
  display: flex;
  flex: none;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
  box-sizing: border-box;
}
.infoList > ul .imgWrapper p {
  width: 130px;
  text-align: right;
}
.infoList > ul .imgWrapper img {
  max-width: 80px;
}
.infoList > ul .imgWrapper > span.checkInvalid {
  width: auto;
}
.infoList > ul .itemsWrapper {
  display: flex;
  flex: none;
  flex-wrap: nowrap;
  align-items: flex-start;
  box-sizing: border-box;
  height: 100%;
}
.infoList > ul .itemsWrapper p {
  width: 130px;
  text-align: right;
}
.infoList > ul .itemsWrapper > div {
  display: flex;
  width: calc(100% - 130px);
  flex-wrap: wrap;
  flex-direction: column;
}
.infoList > ul .itemsWrapper > div.paragraph {
  padding-top: 10px;
  width: 40%;
  display: block;
  line-height: 22px;
}
.infoList .btnArea {
  display: inline-flex;
  flex: none;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 16px;
  padding: 20px;
  background-color: #ebf4fd;
}
.infoList .btnArea > button {
  margin-right: 10px;
}
.infoList .btnArea > button:last-child {
  margin-right: 0;
}
.infoList input {
  width: 140px;
  height: 30px;
  margin-right: 5px;
}
.infoList input.shortInput {
  width: 45px;
  text-align: center;
  padding-left: 0 !important;
}
.infoList .select {
  width: 140px;
}
.timepicker input {
  width: 50px;
}
.searchLine {
  position: relative;
  height: 30px;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.searchLine .left {
  vertical-align: middle;
  line-height: 30px;
}
.searchLine .left .searchLine-timeChoose {
  height: 30px;
}
.searchLine .left .searchLine-timeChoose .searchLine-rangePicker {
  width: 180px;
}
.searchLine .left .searchLine-timeChoose .start {
  margin-right: 22px;
}
.searchLine .leftDesp {
  margin-right: 10px;
}
.searchLine .leftDesp .title {
  margin-right: 5px;
  padding-right: 5px;
}
.searchLine .rightSearch {
  display: inline-flex;
  flex: none;
  flex-wrap: nowrap;
}
.searchLine .rightSearch > div {
  margin: 0;
  padding: 0;
  margin-right: 8px;
}
.searchLine .rightSearch > div:last-child {
  margin-right: 0;
}
.searchLine .searchInput {
  width: 150px;
  height: 30px;
}
.searchLine .searchInput input {
  padding-left: 25px !important;
}
.searchLine .addSchoolBtn {
  margin-right: 10px;
}
.seperateItem {
  margin-right: 5px;
}
/* for number show in orderTable and fundTable */
.profitBanner {
  margin-top: -8px;
  margin-bottom: 8px;
}
/* for older version upload button in task module */
.uploadButton {
  height: 95px;
  line-height: 95px;
  margin-top: -20px;
  font-size: 40px;
  color: #108EE9;
}
.nonBdr {
  outline: none;
  width: 80px;
}
.rangePicker {
  width: 300px;
  padding: 0px;
}
.rangePicker .ant-input {
  height: 30px;
  padding: 0;
}
.padR20 {
  padding-right: 15px;
}
.errorHint {
  color: red;
  font-size: 12px;
  margin-left: 10px;
}
.mySelect {
  width: 150px;
  border-radius: 5px;
}
.mySelect > li {
  width: 100%;
  height: 20px;
  background-color: white;
}
/* for custom select */
.customSelect {
  width: 110px;
}
/* for choose popup, both used in deposit-act/ gift-act/ maintainer-school-set */
.depositGiftTable {
  margin: 10px 40px 40px 40px;
}
.depositGiftTable .optInDeposit {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.depositGiftTable .optInDeposit > div:first-child {
  width: 20px;
}
.depositGiftTable .optInDeposit .giftCount {
  margin: 0 10px;
}
#root {
  width: 100%;
  height: 100vh;
  background-color: #ECECEC;
}
#root .pageLoading {
  text-align: center;
}
#root .container {
  display: flex;
}
#root .container .nav {
  position: relative;
  height: 100vh;
  background-color: #fff;
}
#root .container .nav a {
  color: #c0c0c0;
}
#root .container .nav a:hover {
  color: #ffffff;
}
#root .container .nav .sideWrapper {
  display: inline-block;
  position: relative;
  width: auto;
  height: 100vh;
  margin: 0 !important;
  padding: 0 !important;
}
#root .container .nav .sideWrapper .logo {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  top: 0;
  left: 0;
  transform: translate(0, 0);
  background-color: #333;
}
#root .container .nav .sideWrapper .logo a {
  border: 1px solid red;
}
#root .container .nav .sideWrapper .logo img {
  width: 25%;
}
#root .container .content {
  background: #f1f1f1;
  box-sizing: border-box;
  position: relative;
}
#root .container .content a:link {
  text-decoration: none;
}
#root .container .content .loading {
  position: absolute;
  width: 99%;
  height: 90.4%;
  left: 10px;
  right: 50px;
  top: 60px;
  padding-top: 100px;
  text-align: center;
  background-color: #eee;
  z-index: 999;
}
#root .container .content #loggedInfo {
  display: inline-flex;
  align-items: center;
  position: fixed;
  right: 0;
  height: 50px;
  margin-right: 40px;
  z-index: 999;
  cursor: pointer;
  color: #999;
}
#root .container .content #loggedInfo img {
  margin-left: 10px;
  width: 22px;
  height: 22px;
}
#root .container .content .main {
  box-sizing: border-box;
  height: 100vh;
  overflow-y: scroll;
}
#root .container .content .main .breadc {
  background-color: #fff;
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 40px;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  z-index: 900;
}
#root .container .content .main .breadc .breads span {
  color: #bbb;
}
#root .container .content .main .breadc .breads a {
  color: #bbb;
}
#root .container .content .main .breadc .breads .breadItem {
  color: #222;
}
#root .container .content .main .contentContainer {
  margin: 20px auto;
  width: 95%;
}
#root .container .content .main .contentContainer .subHead {
  font-size: 0.6em;
  color: #aaa;
}
#root .container .content .main .disp {
  position: relative;
  border: 1px solid #eee;
  min-height: calc(100vh - 70px);
  box-sizing: border-box;
  margin: 10px;
  margin-top: 60px;
  background: #fff;
}
#root .container .content .main .disp .contentArea {
  padding: 30px;
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}
#root .container .content .main .disp .contentArea .navLink {
  width: 50%;
  position: absolute;
  cursor: pointer;
  z-index: 20;
}
#root .container .content .main .disp .contentArea .navLink a {
  color: #999;
  font-size: 16px;
  padding-bottom: 4px;
}
#root .container .content .main .disp .contentArea .navLink a.active {
  color: #222;
  border-bottom: 2px solid #148dea;
}
#root .container .content .main .disp .contentArea .navLink a:first-child {
  margin-right: 20px;
}
#root .container .content .main .disp .contentArea .tableList .firstCol {
  padding-left: 20px;
}
#root .container .content .main .disp .contentArea .tableList .lastCol {
  text-align: right;
  padding-right: 20px;
}
#root .container .content .main .disp .contentArea .linkBtn {
  position: absolute;
  top: 0px;
  height: 28px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}
#root .container .content .main .disp .contentArea .linkBtn button:first-child {
  margin-right: 20px;
}
#root .container .content .main .disp .suppliers {
  margin-top: 40px;
  text-align: right;
}
#root .container .content .main .disp .suppliers .addBtn {
  margin-bottom: 10px;
  text-align: right;
}
#root .container .content .main .disp .orderTableHeader {
  width: 800px;
}
#root .container .content .main .disp .orderTableHeader .orderTableName {
  width: 100px;
}
#root .container .content .main .disp .orderTableHeader td {
  text-align: center;
}
#root .container .content .main .disp .seperate {
  width: 100%;
  display: flex;
  width: 900px;
  margin: 0px auto 0px auto;
}
#root .container .content .main .disp .seperate .leftLabel {
  display: block;
  width: 150px;
  text-align: right;
}
#root .container .content .main .disp .seperate .rightContent {
  float: right;
  width: 500px;
}
#root .container .content .main .disp .seperate .rightContent input {
  width: 300px;
  margin-right: 10px;
}
#root .container .content .main .disp .seperate .contentItems {
  margin-bottom: 5px;
}
#root .container .content .main .disp .avatorWrapper {
  text-align: center;
  vertical-align: top;
}
#root .container .content .main .disp .avatorWrapper .avator {
  width: 100px;
  height: 80px;
  display: inline-block;
}
#root .container .content .main .disp .nestedTable {
  vertical-align: top;
}
#root .container .content .main .disp .nestedTable .floorList {
  display: inline-block;
  margin-right: 50px;
}
#root .container .content .main .disp .nestedTable .roomList {
  display: inline-block;
}
#root .container .content .main .disp .narrow {
  display: inline-block;
  width: 50%;
}
#root .container .content .inlineNav {
  display: inline-block;
}
#root .container .content .inlineNav li {
  display: inline-block;
  padding-right: 20px;
}
.disabled {
  background-color: #eee !important;
  cursor: not-allowed !important;
}
.disabled * {
  cursor: not-allowed !important;
}
.checkboxWrapper {
  display: inline-block;
}
.noPadding span {
  margin: 0 !important;
}
.bottomSet {
  position: absolute;
  bottom: 30px;
}
.innerLoading {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  padding-top: 100px;
  text-align: center;
  background-color: #eee;
  z-index: 999;
}
.puncSeperated:after {
  content: '、';
}
.puncSeperated:last-child:after {
  content: none;
}
.ant-carousel .slice-arrow {
  background-color: red;
}
.inlineItem:after {
  content: '、';
}
.inlineItem:last-child:after {
  content: none;
}
.mgl10 {
  margin-left: 10px;
}
@media screen and (min-width: 1440px) {
  body {
    font-size: 12px;
  }
  button {
    height: 34px !important;
  }
  #root .container .nav {
    width: auto !important;
  }
  #root .container .nav * {
    font-size: 14px !important;
  }
  #root .container .nav .sideWrapper .logo {
    width: 120px;
    height: 50px;
  }
  #root .container .nav .sideWrapper .logo img {
    width: 25%;
  }
  #root .container .content .main .breadc * {
    font-size: 14px;
  }
  #root .container .content #loggedInfo span {
    font-size: 14px;
    line-height: 22px;
  }
  .searchLine {
    height: 34px;
  }
  .searchLine .left {
    vertical-align: middle;
    line-height: 34px;
  }
  .searchLine .searchInput {
    height: 34px;
  }
  .customSelect {
    width: 120px;
  }
  .infoList input {
    height: 34px;
  }
  .addSupplierModal input {
    height: 34px !important;
  }
  .rangePicker {
    height: 35px !important;
  }
  .rangePicker .ant-input {
    padding: 0 !important;
    height: 35px;
  }
  .rangePicker .ant-input input {
    height: 33px;
  }
}
