@blue: #85c4ff;
@red: #ff5555;
.tableList{
  padding: 20px 20px;
}
.heaterUnitsWrapper{
  .tableList{
    padding-top: 0;
  }
}
.liveMapWrapper{
  img{
    height: 300px;
  }
}
.liveStatusWrapper{
  .liveMapWrapper{
    position: relative;
    margin-top: 3rem;
    .tankImg{
      cursor: pointer;
    }
    .thermometer{
      position: absolute;
      height: 140px;
      top: 120px;
      left: 340px;
    }
    .redThermo, .blueThermo{
      width: 6px;
      height: 81px;
      border-radius: 3px;
      background-color: #eee;
    }
    .redThermo{
      position: absolute;
      top: 151px;
      left: 372px;
    }
    .blueThermo{
      position: absolute;
      top: 144px;
      left: 386px;
    }
    .waterpipeHintWrapper{
      position: absolute;
      left: 480px;
      bottom: 120px;
      .hintBox{
        margin-bottom: 10px;
      }
      .hintBox:last-child{
        margin-bottom: 0;
      }
    }
    .waterpipeHint{
      left: 520px;
      bottom: 120px;
      width: fit-content
    }
    .tankHintWrapper{
      position: absolute;
      left: 250px;
      top: 320px;
      .hintBox{
        display: inline-block;
        margin-right: 10px;
      }
      .hintBox::last-child{
        margin-right: 0;
      }
    }
    .warmerHintWrapper{
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 10px;
      left: -120px;
      height: 100%;
      max-height: 100%;
    }
    .commonHint{
      position: absolute;
      left: 40px;
      top: 20px;
      width: fit-content;
    }
  }
}
.heaterStatusConfig{
  box-sizing: border-box;
  border-top: 1px solid #eee;
  height: calc(~ '100vh - 110px - 70px');
  overflow: hidden;
  display: flex;
  flex: none;
  flex-wrap: nowrap;
  .heaterStatusConfigSet{
    width: 80%;
    height: 100%;
    padding: 10px 0px 30px 20px;
    overflow-y: scroll;
    border-right: 1px solid #eee;
    background: #f9f9f9;
    .btnArea{
      width: calc(~ '100% - 10px');
      margin-top: 20px;
    }
    .noBdr{
      border: none;
    }
  }
  .heaterStatusAiSet{
    width: 20%;
    button{
      margin-top: 40px;
      margin-left: 50%;
      transform: translateX(-50%)
    }
  }
}