.taskNoteList .addWorkNote {
  cursor: pointer;
  font-size: 60px;
  line-height: 150px;
  text-align: center;
  font-weight: 300;
  color: #108ee9;
}
.disabled {
  background-color: #eee;
  border-radius: 5px;
}
.card {
  border: 1px solid #eee;
  border-radius: 5px;
  width: 420px;
  height: 160px;
  margin-right: 15px;
  margin-bottom: 25px;
  font-size: 12px;
  background-color: #fff;
}
.card .cardContent {
  padding: 10px 14px;
  padding-top: 15px;
  height: 115px;
  color: #bbb;
}
.card .cardContent .header {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  margin-bottom: 7px;
}
.card .cardContent .header h3 {
  font-size: 1.2em;
  font-weight: 400;
}
.card .cardContent .header .username {
  color: #bbb;
}
.card .status {
  box-sizing: border-box;
  padding: 5px 14px;
  width: 100%;
  height: 45px;
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #eee;
}
.card .status .seperator {
  display: inline-block;
  width: 5px;
}
.cardPanel {
  margin-top: 20px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}
.complaint .thumbnailWrapper {
  display: flex;
  flex: none;
  flex-wrap: nowrap;
}
.complaint .thumbnailWrapper li {
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.complaint .thumbnailWrapper li img {
  margin-left: 50%;
  margin-top: 50%;
  transform: translate(-50%, -50%);
}
.itemsWrapper {
  padding-bottom: 10px;
}
.upload {
  position: relative;
  display: inline-flex;
  align-items: center;
}
.upload img {
  position: absolute !important;
  top: 0;
}
.checkInvalid {
  text-align: left;
}
.inactive {
  pointer-events: none;
  cursor: not-allowed !important;
  color: #999;
}
.inactive * {
  cursor: not-allowed;
}
.taskLogInfo {
  padding-top: 0;
}
.checkSelect {
  margin-right: 10px;
}
.taskPanelWrapper .tableList {
  padding: 0px 20px;
}
.taskPanelWrapper .tableList td {
  cursor: pointer;
}
.hidden {
  display: none;
}
.taskDetailWrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  background: white;
  box-shadow: -4px 0 40px 10px rgba(199, 199, 199, 0.3);
  z-index: 999;
}
.taskDetailWrapper .taskDetail-header {
  display: inline-flex;
  padding: 0 30px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  border-bottom: 1px solid #ddd;
}
.taskDetailWrapper .taskDetail-content,
.taskDetailWrapper .taskDetail-sidebar {
  display: inline-block;
  padding: 20px 30px;
  height: auto;
  border-right: 1px solid #ddd;
}
.taskDetailWrapper .taskDetail-content {
  width: 70%;
  height: calc(100% - 50px);
  overflow-y: scroll;
}
.taskDetailWrapper .taskDetail-content h3 {
  font-size: 20px;
}
.taskDetailWrapper .taskDetail-content .handleBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.taskDetailWrapper .taskDetail-content .handleBtn button {
  margin-right: 10px;
}
.taskDetailWrapper .taskDetail-content .handleBtn .hint {
  display: inline-block;
  margin-right: 10px;
  color: #ddd;
}
.taskDetailWrapper .taskDetail-content .processLogs {
  margin: 0px -30px;
  padding: 15px 30px;
  border-top: 1px solid #ddd;
}
.taskDetailWrapper .taskDetail-content .processLogs ul {
  margin-top: 15px;
  border: 1px solid #ddd;
}
.taskDetailWrapper .taskDetail-content .task-detailList {
  margin: 10px 0;
}
.taskDetailWrapper .taskDetail-sidebar {
  position: absolute;
  width: 30%;
}
.taskDetailWrapper .taskDetail-sidebar .task-detailList {
  margin: 15px 0;
}
.taskDetail-panelWrapper {
  padding: 10px 0px;
  min-height: 180px;
}
.taskDetail-panelWrapper .task-detailList,
.taskDetail-panelWrapper .detailList {
  padding: 15px 20px;
  background-color: #f5f5f5;
}
.columnsWrapper li {
  display: inline-flex;
  width: 100%;
  min-height: 30px;
  padding-left: 10px;
}
.columnsWrapper li .column {
  line-height: 30px;
  display: inline-block;
  min-width: 100px;
}
.columnsWrapper li .column:last-child {
  line-height: 22px;
  padding-top: 5px;
  padding-right: 10px;
}
.task-loadWrapper {
  position: absolute;
  width: 100%;
  height: calc(100% - 50px);
  top: 50px;
  background-color: rgba(255, 255, 255, 0.5);
}
.buildTask ul {
  padding: 0;
  background-color: white !important;
}
.buildTask ul li p,
.buildTask ul li.itemsWrapper p {
  width: 100px;
}
.buildTask ul span.ant-radio + * {
  padding-left: 0;
}
.buildTask .btnArea {
  padding: 0;
  background-color: white;
}
.longText {
  width: 190px;
  height: 150px;
  line-height: 22px;
}
.menuItem {
  display: inline-block;
  width: 100%;
}
.reassign .info ul li p {
  width: 83px !important;
}
.taskMessage {
  width: 100%;
}
.taskMessage textarea {
  margin: 15px 0 8px;
  width: 100%;
  height: 150px;
}
.modalTitle {
  font-size: 1.2em;
  margin: 10px;
}
.offlineWrapper {
  background: white;
}
.offlineWrapper .offline {
  width: 120px;
  text-align: center;
}
.offlineWrapper .offline img {
  width: 120px;
}
.leftHeader {
  display: inline-block;
  width: 100%;
  text-align: left;
}
.ope {
  display: inline-block;
  width: 100%;
  text-align: right;
}
.sliderWrapper {
  display: inline-block;
  width: 90%;
}
.amountHint {
  vertical-align: middle;
}
