.popTitle {
  width: 200px;
}
textarea {
  width: 300px;
  height: 80px;
}
.popupModal {
  width: 400px;
}
.chargeBackModal {
  display: inline-flex;
}
.chargeBackModal span {
  margin-right: 10px;
}
.detailPanelWrapper {
  width: 30%;
}
.detailList {
  border-bottom: 1px solid #eee;
}
.orderInfo ul:last-of-type {
  border: none !important;
}
.statWrapper {
  padding-top: 20px;
}
.barChartWrapper {
  margin-bottom: 30px;
}
