.popTitle {
  width: 200px;
}
textarea {
  width: 300px;
  height: 80px;
}
.popupModal {
  width: 400px;
}
.chargeBackModal {
  display: inline-flex;
}
.chargeBackModal span {
  margin-right: 10px;
}
.detailPanelWrapper {
  width: 30%;
}
.orderInfo .detailList {
  border-bottom: 1px solid #eee;
}
.orderInfo ul:last-of-type {
  border: none !important;
}
.orderStat {
  position: relative;
}
.orderStat .statWrapper {
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  top: 100px;
  padding-top: 20px;
  width: 100%;
  height: calc(100vh - 100px - 120px);
  border-top: 1px solid #eee;
  background-color: #f9f9f9;
}
.orderStat .statWrapper .tableList {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #eee;
}
.orderStat .statWrapper .tableList td {
  background-color: white;
}
.orderStat .statWrapper::-webkit-scrollbar {
  display: block !important;
}
.orderStat .statWrapper::-webkit-scrollbar-track-piece {
  background-color: #fff;
}
.orderStat .statWrapper::-webkit-scrollbar {
  width: 5px;
}
.orderStat .statWrapper::-webkit-scrollbar-thumb {
  background: #ccc;
}
.barChartWrapper {
  margin-bottom: 30px;
}
.marginBottom {
  margin-bottom: 20px;
  margin-right: 20px;
}
.orderWarnWrapper .tableList {
  margin-top: 20px;
}
.orderWarnSet .buildRuleBtn {
  position: absolute;
  top: 10px;
  right: 20px;
}
.customized_select_option {
  margin: 0 8px;
}
.orderWarnThresholdWrapper > input {
  height: 30px;
  margin: 0 8px;
}
.orderWarnThresholdWrapper > button {
  margin-left: 8px;
}
.setRuleHintWrapper {
  width: 100%;
  border: 1px solid #eee;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.setRuleHintWrapper .setRuleHintWrapper_header {
  height: 45px;
  background-color: #f7f7f7;
}
.setRuleHintWrapper .setRuleHintWrapper_content {
  height: 60px;
}
.setRuleHintWrapper .setRuleHintWrapper_content p {
  text-align: center;
  line-height: 60px;
  color: #ccc;
}
.orderWarnListWrapper .orderWarnThresholdWrapper > input {
  text-align: left;
}
.orderWarnListWrapper .tableList {
  position: relative;
}
.orderWarnListWrapper .tableList .buildTaskWrapper {
  position: absolute;
  bottom: 16px;
  left: 20px;
}
.orderWarnListWrapper .tableList .buildTaskWrapper button {
  margin-right: 10px;
}
