.schoolInfoEdit .mapContainer {
  width: 400px;
  height: 300px;
}
.schoolInfoEdit .accountType span {
  margin-right: 3px;
  padding-left: 0;
  padding-right: 0;
}
.schoolInfoEdit .citySelect {
  font-size: inherit;
  width: 140px;
  color: #222;
}
.addingBlock .roomsWrapper {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 10px 0;
}
.addingBlock .roomsWrapper .roomNum {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.addingBlock .addingBlockInput {
  margin-left: 15px;
}
.blockManage {
  position: relative;
}
.blockManage .nameHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.blockManage .roomTable {
  margin: 10px auto;
  height: 300px;
  width: 500px;
  overflow-y: scroll;
}
.blockManage .roomTable .roomItem {
  border: 1px solid #eee;
  width: 500px;
  margin: 0px auto;
  padding: 5px 20px;
  display: flex;
  flex-wrap: no-wrap;
}
.blockManage .roomTable .roomItem span {
  width: 33%;
  text-align: center;
}
.blockManage .roomTable .roomHeader {
  background-color: #f7f7f7;
  position: absolute;
}
.blockManage .roomTable .roomList {
  margin-top: 30px;
}
.blockManage .panelHeader .editLink {
  position: absolute;
  right: 100px;
}
.blockManage .floorLoading {
  width: 100%;
  padding-left: 100px;
}
.room {
  display: inline-block;
  width: 20%;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #999;
  border-radius: 4px;
}
.roomset {
  display: inline-flex;
  justify-content: flex-end;
  width: 100%;
}
/* for flex layout */
.schoolOverview tr {
  box-sizing: border-box;
  display: inline-flex;
  flex: none;
  flex-wrap: no-wrap;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.schoolOverview th {
  box-sizing: border-box;
  display: inline-flex;
  flex: none;
  flex-wrap: no-wrap;
  align-items: center;
  padding: 0 !important;
  height: 50px;
}
.schoolOverview td {
  box-sizing: border-box;
  padding: 0 !important;
  display: inline-flex;
  flex: none;
  flex-wrap: no-wrap;
  align-items: center;
  height: auto;
  min-height: 100px;
}
.schoolOverview .schoolName {
  width: 6%;
}
.schoolOverview .userCount {
  width: 5%;
}
.schoolOverview .deviceWrapper {
  width: 33%;
  position: relative;
}
.schoolOverview .deviceWrapper .deviceHeader {
  position: absolute;
  width: 100%;
  height: 50px;
  top: 0;
}
.schoolOverview .deviceWrapper .deviceHeader p {
  display: inline-block;
  line-height: 50px;
  height: 100%;
  padding: 10px;
  border-right: 1px solid #e9e9e9;
}
.schoolOverview .deviceWrapper .deviceHeader p:first-child {
  width: 20%;
}
.schoolOverview .deviceWrapper .deviceHeader p:nth-child(2) {
  width: 20%;
}
.schoolOverview .deviceWrapper .deviceHeader p:nth-child(3) {
  width: 30%;
}
.schoolOverview .deviceWrapper .deviceHeader p:last-child {
  width: 30%;
  border-right: none;
}
.schoolOverview .deviceWrapper .deviceContent {
  width: 100%;
  height: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
}
.schoolOverview .deviceWrapper .deviceContent .deviceItem {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  margin: 0 !important;
  border-bottom: 1px solid #e9e9e9;
}
.schoolOverview .deviceWrapper .deviceContent .deviceItem .deviceTypeWrapper,
.schoolOverview .deviceWrapper .deviceContent .deviceItem .supplierWrapper,
.schoolOverview .deviceWrapper .deviceContent .deviceItem .rateGroupsWrapper {
  display: inline-flex;
  align-items: center;
  position: absolute;
  padding: 10px;
}
.schoolOverview .deviceWrapper .deviceContent .deviceItem .deviceTypeWrapper {
  width: 20%;
  height: 100%;
  border-right: 1px solid #e9e9e9;
}
.schoolOverview .deviceWrapper .deviceContent .deviceItem .supplierWrapper {
  flex-direction: column;
  flex-wrap: wrap;
  left: 20%;
  width: 50%;
  height: 100%;
  padding: 0;
  border-right: 1px solid #e9e9e9;
}
.schoolOverview
  .deviceWrapper
  .deviceContent
  .deviceItem
  .supplierWrapper
  .supplierItem {
  position: relative;
  width: 100%;
  flex-grow: 1;
}
.schoolOverview
  .deviceWrapper
  .deviceContent
  .deviceItem
  .supplierWrapper
  .supplierItem
  .supplierName {
  position: absolute;
  width: calc(40% + 1px);
  height: 100%;
  padding: 10px;
  border-bottom: 1px solid #e9e9e9;
  display: inline-flex;
  flex: none;
  flex-wrap: no-wrap;
  align-items: center;
  border-right: 1px solid #e9e9e9;
}
.schoolOverview
  .deviceWrapper
  .deviceContent
  .deviceItem
  .supplierWrapper
  .supplierItem
  .supplierName:last-child {
  border-bottom: none;
}
.schoolOverview .deviceWrapper .deviceContent .deviceItem .rateGroupsWrapper {
  left: 40%;
  width: 60%;
  height: 100%;
  padding: 10px;
  border-bottom: 1px solid #e9e9e9;
  display: flex;
  flex: none;
  flex-wrap: wrap;
  align-items: center;
}
.schoolOverview
  .deviceWrapper
  .deviceContent
  .deviceItem
  .rateGroupsWrapper
  .rateItem {
  left: 40%;
  width: 100%;
  height: 18px;
  white-space: wrap;
}
.schoolOverview .deviceWrapper .deviceContent .deviceItem .waterItemsWrapper {
  position: absolute;
  display: flex;
  flex: none;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  height: 100%;
  width: 30%;
  left: 70%;
}
.schoolOverview
  .deviceWrapper
  .deviceContent
  .deviceItem
  .waterItemsWrapper
  .waterTimeRange {
  display: block;
  width: 100%;
}
.schoolOverview .deviceWrapper .deviceContent .deviceItem:last-child {
  border-bottom: none;
}
.schoolOverview .pad10 {
  padding: 10px;
}
.schoolOverview .repairmans {
  width: 10%;
}
.schoolOverview .bonusAct {
  width: 10%;
}
.schoolOverview .depositAct {
  width: 10%;
}
.schoolOverview .withdrawTime {
  width: 8%;
}
.schoolOverview .notify {
  width: 8%;
}
.schoolOverview .remark {
  width: 10%;
  border-right: 1px solid #e9e9e9;
}
.schoolOverview .remark .remarkInput {
  width: 100%;
  height: 100%;
}
.editableCell {
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 2px;
  box-sizing: border-box;
}
.editableCell .remarkTA {
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 90%;
  height: 80%;
  padding-right: 4px;
}
.editableCell .inputCheck {
  position: absolute;
  bottom: -2px;
  right: 2px;
}
.editableCell .inputCheck:hover {
  color: #108ee9;
}
.editableCell .textWrapper:hover {
  display: inline-block;
}
.infoSetLinkWrapper {
  text-align: center;
}
.infoSetInfo ul > li > p {
  width: 150px !important;
  text-align: left;
}
.infoSetLink span {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #ddd;
}
.ulWrapper > p {
  margin-top: 10px;
  line-height: 30px;
}
.ulWrapper ul {
  margin-top: 10px;
  margin-bottom: 10px;
}
.ulWrapper ul li {
  display: flex;
  line-height: 30px;
  flex: none;
  flex-wrap: nowrap;
}
.ulWrapper ul li > p {
  width: inherit !important;
  min-width: 45px;
  margin-right: 10px;
  margin-left: 0;
  padding: 0;
}
.ulWrapper ul li .drinkerItems {
  display: flex;
  flex-direction: column;
}
.ulWrapper ul li .drinkerItems span {
  height: 28px;
}
.mgl15 {
  margin-left: 15px;
  min-width: 60px;
}
.disabled {
  pointer-events: none;
}
.errorHint {
  margin-top: 12px;
}
.schoolinfo_blockTitle {
  font-weight: 600;
}
.infoList.infoSetInfo {
  padding: 10px;
}
.infoList.infoSetInfo ul {
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.infoList.infoSetInfo ul .schoolName {
  font-size: 18px;
  font-weight: 500;
}
.infoList.infoSetInfo ul .schoolName span {
  color: #c7c7c7;
}
.infoList.infoSetInfo ul li {
  border-bottom: 1px solid #e9e9e9;
}
.infoList.infoSetInfo ul .equment {
  width: 400px;
  height: auto;
  display: inline-block;
  margin: 10px;
  border: 1px solid #e9e9e9;
}
.infoList.infoSetInfo ul .equment .deviceName {
  width: 100%;
  padding: 0px 10px;
  box-sizing: border-box;
  background: #eee;
}
.infoList.infoSetInfo ul .equment div {
  padding: 0px 10px;
  position: relative;
  border-bottom: 1px solid #e9e9e9;
}
.infoList.infoSetInfo ul .equment div .deviceRateItem {
  border-bottom: 0px;
  display: inline-block;
}
.infoList.infoSetInfo ul .equment div .itemTitle {
  display: inline-block;
  width: 100px;
  margin-right: 10px;
  position: absolute;
}
.infoList.infoSetInfo ul .equment div .itemContent {
  display: inline-block;
  width: 298px;
  margin-left: 90px;
}
.infoList.infoSetInfo ul .equment div .itemContent .deviceItem {
  border-bottom: 0px;
  padding: 0px;
}
.infoList.infoSetInfo ul .equment div .itemContent div {
  position: relative;
}
.infoList.infoSetInfo ul .equment div .itemContent div .deviceRateContent {
  width: 240px;
  border-bottom: 0px;
  padding: 0px;
}
.infoList.infoSetInfo ul .equment div .itemContent span {
  display: inline-block;
}
.infoList.infoSetInfo ul .equment div a {
  position: absolute;
  right: 10px;
  top: 0px;
}
